name: dart_firebase_admin_workspace
publish_to: none

environment:
  sdk: '>=3.9.0 <4.0.0'

dev_dependencies:
  melos: ^7.3.0
  test: ^1.26.3

workspace:
  - packages/dart_firebase_admin
  # - packages/googleapis_dart_storage
  - packages/googleapis_auth_utils

melos:
  command:
    bootstrap:
      hooks:
        post: ./gen-version.sh
    version:
      hooks:
        post: ./gen-version.sh
